# Sets In Python

In Python, Set is an unordered collection of data type that is iterable, immutable and has no duplicate elements. 
The order of elements in a set is undefined though it may consist of various elements.
The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific 
element is contained in the set.

## Creating a Set

Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, separated by ‘comma’.

In [3]:
# we can use set() function to create an empty set
set1 = set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [4]:
# Let's see the attributes and methods available for sets
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [5]:
print(help(set))

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

None

In [6]:
# Since set is an unordered collection of elements, if we run the below code with the string, we will get an unordered collection of set elements 
# --with no repitition of letters or charectors of the set elements
set2 = set('PRUTHVIRAJA L WELCOME TO PYTHON FOR ENGINEERS')
print(set2)

{'L', 'H', 'N', 'U', 'W', 'R', 'J', 'I', 'C', 'E', 'G', 'T', ' ', 'O', 'P', 'A', 'M', 'F', 'Y', 'S', 'V'}

In [7]:
# To create a set with strings, we can use the list of string elements
list1 = ["Pruthvi", "Welcome", "To", "Python", "Course"]
set3 = set(list1)
print(set3)

{'Course', 'To', 'Pruthvi', 'Python', 'Welcome'}

In [8]:
# Alternatively we can create the  above set with the { } with the list of elements separated by 'comma' 
set4 = {"Pruthvi", "Course", "To", "Welcome", "Python"}
print(set4)

{'Python', 'Course', 'To', 'Welcome', 'Pruthvi'}

In [9]:
# Creating sets with Tuple
# Order of elements in a set is undefined and is unchangeable
# Type of elements in a set need not be the same, various mixed up data type values can also be passed to the set.
set5 = set((1, 2, 3, 4, 5, 5, 6, "Pruthvi"))
print(set5)

{1, 2, 3, 4, 5, 6, 'Pruthvi'}

## Set Methods OR Operations On Sets

#### Set "add" method

In [23]:
# Elements can be added to the Set by using built-in add() function.
#Only one element at a time can be added to the set by using add() method, loops are used to add multiple elements at a time with the use of add() method.
set6 = set()
print(set6)
print(type(set6))
print('After adding the elements to the set6:')
set6.add(1)
set6.add(2)
print(set6)

set()
<class 'set'>
After adding the elements to the set6:
{1, 2}

In [24]:
# Let's add loops OR iterable objects to the set6
set6.add((3, 4, 5, 6, 7))
print(set6)

{(3, 4, 5, 6, 7), 1, 2}

In [25]:
# Adding lists to the set
list2 = [8, 9, 10, 11, 12, 13, 14]
for i in range(len(list2)):
    set6.add(list2[i])

print(set6)

{(3, 4, 5, 6, 7), 1, 2, 8, 9, 10, 11, 12, 13, 14}

#### Set "remove" method

In [9]:
set7 = set((1, 2, 3, 4, 5 ,6, 7, 8, 9, 10))
print(set7)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
set7.remove(8)
print(set7)

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [11]:
# If the item to be removed doesn't exist then 'remove' method will raise an error
set7.remove(11)

KeyError: 11

#### Set 'discard' method

In [12]:
# It works similar to like 'remove' but it doesn't raise an error if the item doesn't find in the set
set7.discard(9)
print(set7)

{1, 2, 3, 4, 5, 6, 7, 10}

In [13]:
set7.discard(11)
print(set7)

{1, 2, 3, 4, 5, 6, 7, 10}

#### Set 'pop' method

In [14]:
# Since 'pop' method will remove the last item from the set, we should avoid using it unless until it is neccessary
# But in set, set is an unordered collection of data elements, so it can remove any random item from the set
print(set7)

{1, 2, 3, 4, 5, 6, 7, 10}

In [15]:
set7.pop()
print(set7)

{2, 3, 4, 5, 6, 7, 10}

#### 'len' function to print the length of the set

In [17]:
print(len(set7))

7

#### 'clear' and 'del' methods in Set

In [18]:
set8 = {1, 2, 3, 4, 5, 6}
print(set8)

{1, 2, 3, 4, 5, 6}

In [19]:
set8.clear()
print(set8)

set()

In [20]:
set9 = {1, 2, 3, 4, 5, 6}
print(set9)

{1, 2, 3, 4, 5, 6}

In [21]:
del set9
print(set9)

NameError: name 'set9' is not defined

#### copy(): It returns a copy of a set.

In [22]:
set10 = {1, 2, 3, 4, 5, 6}
set11 = set10.copy()
del set10

In [23]:
print(set11)

{1, 2, 3, 4, 5, 6}


### Can we directly convert list into sets?: Yes we can convert list into a set using built in set() function.

In [25]:
# But set will remove duplicate elements which are present in list
list4 = [1, 2, 3, 3]
converted_set12 = set(list1)
print(converted_set12)

{1, 2, 3}

### Sets are immutable, we can't change the data elements of the sets once they are defined using the index method

In [ ]:
# Again sets are unordered collections of data values, so indexing will not give the correct value instead raises a type error

In [26]:
set13 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(set13)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [27]:
set13[0] = 20
print(set13)

TypeError: 'set' object does not support item assignment

In [28]:
print(set13[0])

TypeError: 'set' object is not subscriptable

#### We can use "update" method to update multiple values to the set

In [29]:
set14 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(set14)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
set14.update([12, 14])
print(set14)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14}

#### Difference between 'add' and 'update' method

In [31]:
# The add method on the other hand will consider the iterable object as the single element, Let's see here, remember "add" method will not accept lists
# Because lists are of type unhashable
set14.add([20, 30])
print(set14)

TypeError: unhashable type: 'list'

In [33]:
# But we can use the tuple to add to the set using "add" method
set14.add((20, 30))
print(set14)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, (20, 30), 12, 14}

In [34]:
set14.update((40, 50))
print(set14)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, (20, 30), 12, 40, 14, 50}

In [35]:
# update method will update each element of the iterable as a separate entity
set14.update("Pruthvi")
print(set14)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 't', 12, 14, 'v', 40, 50, 'h', 'u', 'r', (20, 30), 'P', 'i'}

In [36]:
# add method on the other hand will consider iterable itself as one single entity
set14.add("Python")
print(set14)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 't', 12, 14, 'v', 40, 50, 'h', 'u', 'r', 'Python', (20, 30), 'P', 'i'}

### What are frozensets and how they work?

In [ ]:
# Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to 
#--which they are applied. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.
#--If no parameters are passed, it returns an empty frozenset.

In [37]:
set15 = frozenset("Python")
print(set15)

frozenset({'t', 'P', 'n', 'o', 'h', 'y'})

In [38]:
help(frozenset())

Help on frozenset object:

class frozenset(object)
 |  frozenset() -> empty frozenset object
 |  frozenset(iterable) -> frozenset object
 |
 |  Build an immutable unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [39]:
help(set())

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [40]:
# Frozenset has no method named 'add', because it is an immutable collection data elements
set15.add((2, 3))

AttributeError: 'frozenset' object has no attribute 'add'

In [41]:
set15.update(9)

AttributeError: 'frozenset' object has no attribute 'update'

## Set Operations

#### Set "union" method

In [ ]:
# Union means 
# Returns a new set with elements from the set and the specified iterables.
# Syntax: set.union(iterable, …)
# iterable, …
# Required. Iterable or multiple iterables to be compared against the set.

In [2]:
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set17 = {11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
set16.union(set17)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [4]:
# We can directly use the iterable objects like set of objects, Lists, or Tuples or Strings
# Let's begin with the set of objects eclosed in {}
set16.union({20, 30, 10, 11})

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 20, 30}

In [5]:
# Union with lists and sets
set16.union([21, 22, 10, 11, 9])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 21, 22}

In [6]:
# Union with the tuple of objects
set16.union((25, 26, 10, 1, 2, 3))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 25, 26}

In [7]:
# Union with the strings
set16.union('Pruthvi')

{1, 10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9, 'P', 'h', 'i', 'r', 't', 'u', 'v'}

In [9]:
# Union with all the iterables like lists, strings, tuples, sets 
set18 = set16.union([24, 26, 10], (26, 27, 30, 10), {27, 28, 11}, 'Pruthvi')
print(set18)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'u', 'h', 'i', 't', 24, 26, 27, 28, 'r', 30, 'P', 'v'}

#### Set "intersection" method

In [ ]:
## Returns a new set with elements common to the set and the specified iterables.

In [ ]:
# Syntax: set.intersection(iterable, …)

In [10]:
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set17 = {11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
set16.intersection(set17)

{11, 12}

In [11]:
set16.intersection({11, 12, 20, 30, 40, 1, 2})

{1, 2, 11, 12}

In [12]:
set16.intersection([1, 2, 3, 10, 30, 40])

{1, 2, 3, 10}

In [ ]:
# Similarly we can use all the iterables we have mentioned in the set union method like lists, sets, tuples, strings etc.

#### Set "difference"

In [ ]:
# Syntax: set.difference(iterable, …)
# Returns a new set with elements in the set that are not in the specified iterables.

In [13]:
# Means if we consider two sets set16 & set17, the difference method will return only the elements which are not present in the set17 compared to set16
# So, if we compare both the sets set16 & set17, we can see the elements 1, 2 upto 10 are in set16 but not in set17 where as the elements 11, 12, which are 
# present in both the sets are ignored along with the elements which are present only in set17. 
# Means here the set16 is considered as the differencing set and the set17 which got differenced by the set16
set16.difference(set17)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
# We can reverse the operation by selecting the set17 as the differencing set and the set16 as the differenced set from the set17
# Once we do this operation, we can see only the elements which are in set17 but not in set16 have been return as the new set elements. 
set17.difference(set16)

{13, 14, 15, 16, 17, 18, 19, 20}

#### Set symmetric_difference

In [ ]:
# Returns a new set with elements in either of the set or the specified iterable but not in both the sets.

In [15]:
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set17 = {11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
set16.symmetric_difference(set17) # Here the elements 11, 12 which are present in both the sets are removed and the elements which are either present
# in set16 or set17 are collected.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20}

In [16]:
# Here is the simple example for this 
{1, 2}.symmetric_difference([4, 5]) # Here no elements are common, so elements either present in {1, 2} or iterable [4, 5] are collected

{1, 2, 4, 5}

### Information From The Set

#### "issuperset"

In [ ]:
# Returns a Boolean stating whether the set contains the specified set or iterable. The set or iterable where we search is called superset()

In [17]:
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set16.issuperset([1, 2])

True

In [18]:
set16.issuperset([12, 13])

False

In [19]:
# Empty set is considered as one of the set in non-empty set, because if we remove all the elements, we will be left with empty set only. 
{0, 1, 2, 3, 4}.issuperset(())

True

#### "issubset"

In [ ]:
# Returns a Boolean stating whether the set is contained in the specified set or iterable.
# This method will check whether the set is a subset of the specified set or iterable
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [20]:
{1, 2}.issubset(set16)

True

In [21]:
{12, 13}.issubset(set16)

False

In [22]:
{1, 2}.issubset({'A', 'B', 'C', 1, 3, 4})

False

#### "isdisjoint"

In [36]:
# Returns a Boolean stating whether the set contents overlap with the specified set or iterable.
# Syntax:  set. isdisjoint(iterable)
# Concluding Remark:  Sets are disjoint if and only if their intersection is the empty set. If the iterable is empty, returns True.
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [38]:
set16.isdisjoint([1, 2])

False

In [39]:
set16.isdisjoint([12, 13])

False

In [40]:
set16.isdisjoint([13, 14])

True

### Set Operations Assignment

#### "difference_update"

In [47]:
# Updates the set, removing elements found in others. It is similar to like difference but only the change is instead of returning the result, the result will be 
# updated as the new set
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set17 = {11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [48]:
result = set16.difference(set17)
print(result)
print(set16)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [49]:
set16.difference_update(set17) # set16 which is used as the differencing set is updated with the result.
print(set16)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### "symmetric_difference_update"

In [51]:
# Similarly symmetric_difference and its information version
# Updates the set, keeping only elements found in either set or the specified iterable, but not in both.
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set17 = {11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
result_diffrence = set16.symmetric_difference(set17)
print(result_diffrence)
print(set16)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [52]:
set16.symmetric_difference_update(set17) # The result will updated to set16 which is used as the symmetric_diffrencing set
print(set16)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20}

In [54]:
s = {1, 2}
result = s.symmetric_difference((2, 3))
print(result)
print(s)
s.symmetric_difference_update((2, 3))
print(s)

{1, 3}
{1, 2}
{1, 3}

#### "intersection_update"

In [ ]:
# Updates the set, keeping only elements found in it and all others.

In [56]:
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set17 = {11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
result = set16.intersection(set17)
print(result)
print(set16)

{11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [57]:
set16.intersection_update(set17)
print(set16)

{11, 12}

#### Set "copy" method

In [ ]:
# Copy:  It will return the copy of the original set

In [60]:
set16 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set18 = set16.copy()
print(set18)
del set16
#print(set16)
print(set18)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

### Set Operations

# | (union)
# Returns a new set with elements from the set and the other set.

In [62]:
set19 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set20 = {13, 14, 10, 9, 8, 7}
set19 | set20
# result_set = set19 | set20
# print(result_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

# & (intersection)
# Returns a new set with elements common to the set and the other set.

In [63]:
set19 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set20 = {13, 14, 10, 9, 8, 7}
set19 & set20

{7, 8, 9, 10}

# - (difference)
# Returns a new set with elements in the set that are not in the other set.

In [64]:
set19 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set20 = {13, 14, 10, 9, 8, 7}
set19 - set20

{1, 2, 3, 4, 5, 6, 11, 12}

In [65]:
set20 - set19

{13, 14}

# ^ (symmetric_difference)
# Returns a new set with elements in either the set or the other set but not both.

In [66]:
set19 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set20 = {13, 14, 10, 9, 8, 7}
set19 ^ set20

{1, 2, 3, 4, 5, 6, 11, 12, 13, 14}

### Set Operations Assignment

#  -= (difference_update)
# Updates the set, removing elements found in the other set.

In [68]:
set19 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set20 = {13, 14, 10, 9, 8, 7}
set19 -= set20
print(set19)

{1, 2, 3, 4, 5, 6, 11, 12}

# &= (intersection_update)
# Updates the set, keeping only elements found in it and the other set.

In [69]:
set19 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set20 = {13, 14, 10, 9, 8, 7}
set19 &= set20
print(set19)

{8, 9, 10, 7}

# ^= (symmetric_difference_update)
# Updates the set, keeping only elements found in either set or the other set, but not in both.

In [70]:
set19 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set20 = {13, 14, 10, 9, 8, 7}
set19 ^= set20
print(set19)

{1, 2, 3, 4, 5, 6, 11, 12, 13, 14}

### Relational Operators

# == (is equal)
# Returns a Boolean stating whether the set has the same elements as the other set.

In [71]:
set19 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set20 = {13, 14, 10, 9, 8, 7}
set19 == set20

False

# != (is not equal)
# Returns a Boolean stating whether the set has different elements as the other set.

In [72]:
set19 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set20 = {13, 14, 10, 9, 8, 7}
set19 != set20

True

# <= (issubset)
# Returns a Boolean stating whether the set is contained in the other set.

In [84]:
set19 = {7, 8, 9, 10, 11} # 11, 12}
set20 = {10, 9, 8, 7}
print(set19 <= set20)
print(set20 <=  set19)

False
True

In [85]:
# < (issubset proper)
# Returns a Boolean stating whether the set is contained in the specified set and that the sets are not equal.
set19 = {7, 8, 9, 10} #11, 12}
set20 = {10, 9, 8, 7}
print(set19 < set20)
print(set20 < set19)

False
False

# >= (issuperset)
# Returns a Boolean stating whether the set contains the other set.

In [93]:
set21 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
print(set21 >= set([1, 2]))
# Let's check with the equal set and iterables
set22 = {1, 2, 3}
print(set22  >= set([1, 2, 3]))

True
True

In [95]:
# > (issuperset proper)
# Returns a Boolean stating whether the set contains the other set and that the sets are not equal.
set21 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
print(set21 > set([1, 2]))
# Another Example
set21 = {1, 2, 3, 4}
print(set21 > set([1, 2]))
# Let's check with the equal set and iterables
set22 = {1, 2, 3}
print(set22  > set([1, 2, 3]))

True
True
False

### Built-In Python Functions on Sets

"len":
Returns an int type specifying number of elements in the collection.

In [96]:
set21 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
print(len(set21))

12

min
Returns the smallest item from a collection.

In [97]:
min(set21)

1

max
Returns the largest item in an iterable or the largest of two or more arguments.

In [98]:
max(set21)

12

sum
Returns a total of the items contained in the iterable object.

In [99]:
sum(set21)

78

sorted
Returns a sorted list from the iterable.

In [100]:
set21 = {1, 2, 3, 24, 20, 4, 5, 6, 7, 8, 9, 10, 11, 12}
sorted(set21)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 20, 24]

reversed
Returns a reverse iterator over a sequence.

In [101]:
set21 = {1, 2, 3, 24, 20, 4, 5, 6, 7, 8, 9, 10, 11, 12}
reversed(set21)

TypeError: 'set' object is not reversible

In [112]:
list_new = list(set21)
print(list_new)
print(reversed(list_new))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 20, 24]
<list_reverseiterator object at 0x000002AC5D1B9FC0>

In [151]:
list_new = list(set21)
set_reversed = set()
reversed_set = reversed(list_new)
for item in reversed_set:
    print(item, end=" ")

#print(set_reversed, end=" ")

24 20 12 11 10 9 8 7 6 5 4 3 2 1

#### We can use "next()" method to iterate over each item in the reversed iterator

In [158]:
set21 = {1, 2, 3, 24, 20, 4, 5, 6, 7, 8, 9, 10, 11, 12}
list_new = list(set21)
print(list_new)
rev = reversed(list_new)
for item in rev:
    if item != set():
        print(rev.__next__(), end=" ")
    elif item == set():
        print("Iteration stopped")
#help(reversed)
#rev.__next__()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 20, 24]
20 11 9 7 5 3 1

In [159]:
set21 = {1, 2, 3, 24, 20, 4, 5, 6, 7, 8, 9, 10, 11, 12}
list_new = list(set21)
print(list_new)
rev = reversed(list_new)
rev.__next__()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 20, 24]

24

In [160]:
rev.__next__()

20

In [161]:
rev.__next__()

12

In [162]:
rev.__next__()

11

In [163]:
rev.__next__()

10

In [164]:
rev.__next__()

9

In [165]:
rev.__next__()

8

In [166]:
rev.__next__()

7

In [167]:
rev.__next__()

6

In [168]:
rev.__next__()

5

In [169]:
rev.__next__()

4

In [170]:
rev.__next__()

3

In [171]:
rev.__next__()

2

In [172]:
rev.__next__()

1

In [173]:
rev.__next__()

StopIteration:

all
Returns a Boolean value that indicates whether the collection contains only values that evaluate to True.

In [174]:
set21 = {1, 2, 3, 24, 20, 4, 5, 6, 7, 8, 9, 10, 11, 12}
all(set21)

True

In [176]:
set21_modified = {1, 2, 3, 24, 20, 4, 5, 6, 7, 8, 9, 10, 11, 0}
all(set21_modified)

False

In [178]:
print(all([True, False]))
print(all([True, True]))
print(all([]))
print(all(set()))

False
True
True
True

any
Returns a Boolean value that indicates whether the collection contains any values that evaluate to True.

In [179]:
set21 = {1, 2, 3, 24, 20, 4, 5, 6, 7, 8, 9, 10, 11, 12}
any(set21)

True

In [180]:
set21_modified = {1, 2, 3, 24, 20, 4, 5, 6, 7, 8, 9, 10, 11, 0}
any(set21_modified)

True

In [183]:
print(any([True, False]))
print(any([True, True]))
print(any([]))
print(any(set()))

True
True
False
False

#### "enumerate()" Method

In [188]:
# This method enumerates through the elements in the iterable, starting from the 0th count
# Syntax: enumerate(iterable, start=0)
# The enumerate object yields pairs containing a count (from start, which defaults to zero) and a value yielded by the iterable argument.

In [ ]:
# Sets are unordered collection of data values, hence we may not get the values at the proper index positions, instead we will get randomly distributed values
# at random index positions each time we run the program or set function.

In [193]:
set22 = {10, 20, 30, 40, 50, 60, 70, 80, 90, 100}
for i in enumerate(set22):
    print(i)

(0, 100)
(1, 70)
(2, 40)
(3, 10)
(4, 80)
(5, 50)
(6, 20)
(7, 90)
(8, 60)
(9, 30)

In [192]:
set22 = {10, 20, 30, 40, 50, 60, 70, 80, 90, 100}  # In this example we are counting from 2 instead of default count value 0
for i in enumerate(set22, start=2):
    print(i)

(2, 100)
(3, 70)
(4, 40)
(5, 10)
(6, 80)
(7, 50)
(8, 20)
(9, 90)
(10, 60)
(11, 30)

In [197]:
# Lists on the other hand will yield well placed values at the particular index count value.
list22 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for item in enumerate(list22):
    print(item)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)
(6, 70)
(7, 80)
(8, 90)
(9, 100)

In [198]:
list22 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]  # In this example we are counting from 2 as the starting index count value instead of default count value 0
for item in enumerate(list22, start=2):
    print(item)

(2, 10)
(3, 20)
(4, 30)
(5, 40)
(6, 50)
(7, 60)
(8, 70)
(9, 80)
(10, 90)
(11, 100)

In [209]:
e = enumerate([1, 2, 3, 4, 5], 0)
# e = enumerate([1, 2, 3], start=1)
print(e.__next__())
print(e.__next__())
print(e.__next__())
print(e.__next__())

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [210]:
print(e.__next__())

(4, 5)

In [211]:
print(e.__next__())

StopIteration:

In [217]:
list22 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]  #In this example we are counting from 3 as the starting index count value instead of default count value 0
en = enumerate(list22, 3)
for item in en:
    print(item)
    print(en.__next__())

(3, 10)
(4, 20)
(5, 30)
(6, 40)
(7, 50)
(8, 60)
(9, 70)
(10, 80)
(11, 90)
(12, 100)